{% extends "auctions/layout.html" %}

{% block body %}   
<div class="dataentry">
    <h1> {{entry.listing_title}}</h1>  

     

    <form action="" method="POST"> 
        {% csrf_token %}         
        
        {% if watchlist %}
        <input type="hidden" name="whatchlist" value="0">
        <input type="submit" value="add to watchlist" disabled>
        <input type="submit" value="remove from watchlist">
        {% else %}
        <input type="hidden" name="whatchlist" value="1">
        <input type="submit" value="add to watchlist">
        <input type="submit" value="remove from watchlist" disabled>
        {% endif %}
    </form>                                       
        <img  src="{{entry.picture.url}}" alt="picture">         
        <p> Description: <i>{{entry.listing_description}}</i></p>                
           
            <p class="bid" id="bids"> Starting Price: ${{entry.starting_bid}}</p>
            
            <p class="bid"> Current Price: ${{entry.current_price}}</p>

            <p>Bids sofar: {{bids_sofar}}</p> 

            <p>Your current bid is $: {{your_current_bid}}</p>
            
            {% if bid_error == 1 %}                
                <p style="color:red ">You've just placed a bid to the amount of ${{bid}}. </p>
                <p style="color:red ">This is too low for now. The bid is rejected. Place a bigger one</p>
            {% endif %}

            <form action="" method="POST" >                
                {% csrf_token %}  
                {{form_bids}}
                <input type="hidden" name="bids">
                <input type="submit" value="Place bid">
            </form>
            <br>

            {% if owner %}
            <form action="{% url 'entry_closed' entry.id %}" method="POST"> 
                {% csrf_token %} 
                <input type="hidden" name="close" value="1">
                <input style="color:blueviolet" type="submit" value="CLOSE AUCTION">
            </form> 
            {% endif %}
            <p></p>
            
            <p> Category:</p> 
            <ul>
                {% for category in categories %}
                <li>
                    {{category.category}}
                </li>
                {% endfor %}
            </ul>    
            <p> </p>


            <p> Created on {{entry.created}} by {{entry.ownerid}}</p> 
            
            <p id="comments"> Comments:</p>
            <ul>
                {% for comment in comments %}
                <li class="nostyletype">
                    <p> <b>{{comment.userid}} on {{comment.created}} said:</b></p>                
                    <p> <i>{{comment.comment}} </i></p>                
                </li>
                {% endfor %}
            </ul>

            <form action="" method="POST">                 
                {% csrf_token %}  
                {{form_comments}} 
                <input type="hidden" name="comments">            
                <input type="submit" value="Add">                
            </form>
        </div>

<!-- JQuery is the only way to render with anchor -->        
{% if anchor %}
<script type='text/javascript'>
$(document).ready(function(){
    window.location = '#{{ anchor }}'
});
</script>
{% endif %}

{% endblock %}